@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Simple CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Actuall CSS */

body {
  display: flex;
}

h3 {
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 1rem;
  margin: 0 1rem;
}

h2 {
  font-family: Roboto;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 1rem 0;
}

label {
  font-family: Roboto;
  font-weight: 300;
}

form {
  padding: 1rem 0;
}

button {
  color: #FFF;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.5rem;
  background: #D3984E;
  display: inline-flex;
  padding: 0.5rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: none;
  margin: 1.5rem 2rem;
}

.left {
  width: 40vw;
  height: 100vh;
}

.right {
  width: 60vw;
  background: rgba(56, 82, 79, 0.17);
  height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.right-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 1rem;;
}

.right-form {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.right-middle {
  flex: 1;
  background-color: #FFF;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  width: 100%;
}

.right-bottom {
  flex: 1;
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  
} 

.input-pair {
  display: flex;
  justify-content: flex-start;
}

form input {
  margin: 0.5rem 0;
}

.hero-wrapper {
  position: relative;
  height: 100%;  
}

.logo-container {
  position: absolute;
  top: 3.94rem;
  left: 0;
  right: 0;
  background: rgba(176, 115, 57, 0.54);
  display: flex;
  justify-content: center;
}